* {
	color: #fff;
	font-family: 'Open Sans', sans-serif;;
}

.nav {
	background-color: #f00;
}

.nav__ul {
	display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    justify-content: space-around;
}

.nav__li {
	display: inline-block;
	padding: 9px;
	color: #fff;
	text-align: center;
}

.nav__li:hover > a {
	color: #000000;
}

.nav__li a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

body {
	background-color: #333;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "main main aside"
        "footer footer footer";
    grid-template-rows: repeat(auto-fill, 1fr);
    min-height: 100vh; /* Asegura que el grid ocupe al menos el 100% de la altura de la ventana */
}

header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    grid-area: nav;
    background-color: #444;
    color: #fff;
    padding: 10px;
}

main {
	grid-area: main;
    padding: 20px;
    text-align: center;
}

aside {
    display: flex;
    flex-direction: column;
	text-align: center;
    grid-area: aside;
    background-color: #555;
    color: #fff;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Ejemplo: dos columnas principales */
}

img {
    max-width: 100%;
}

.wallpaper {
    margin: 15px;
	overflow: hidden;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border-top: 4px solid #990000;
    border-bottom: 7px solid #fa0020;
}

.wallpaper img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin-top: 3px;
}

main img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

aside img {
    width: 250px
}
